@charset "UTF-8";

body{
    background-color: rgb(187, 155, 95);
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15vw;
    margin: auto;
    padding-top: 100px;
    white-space: nowrap;
}
#mentira{
    color: white;
}
#circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: white;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}
#circulo:hover{
    background-color: rgb(187, 155, 95);
    border-color: rgb(187, 155, 95);
}
#circulo:hover > p{
    color: black;
    font-size: 20px;
}